@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container{  
    top:5px;
    border-radius: 5px;
    height: 100%;
    width:40%;
    min-width:500px;
}
.header{
    background-color: #21375b;
    width: 100%;
    height: 60px;
    display: flex;
    text-align: left;
    border-radius:15px;
    border:solid gray 1px;
    color: white;
    margin: auto;
    margin-top: 5px;
    text-align: left!important;
    
    
}
.text-left{
    text-align: left!important;
    float: left!important;
    font-family: 'MuseoModerno', cursive;
    margin-top:10px;

    
}
.header-img{
    margin-top:9px;
    margin-bottom:5px;
    vertical-align: middle;
    margin-left:0px;
    width:40px;
    margin-right: 2px;
    height: 40px;
    float: center;
    border-radius:20px;
}

body{
    height: 100%;
    overflow-y: hidden;
}
.sent{   
    float: right;
    vertical-align: center;
    margin-right: 10px;
    background-color: #08142b;
    color:white;
    border-radius: 5px 0px 5px 5px; 
}

.recieved::after{
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-right-color: white;
    border-left:0;
    top:0%;
    right: calc(100% - 5px);
    margin-left:-53%;
    border-left:0;
    border-top: 0;
    outline-color: #08142b;

}
.sent::after{
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-left-color: #08142b;
    border-right:0;
    top:0%;
    left: calc(100% - 5px);
    margin-right: 0;
    border-right:0;
    border-top: 0;
    outline-color: #08142b;

}
.recieved{
    float: left;
    border-radius: 0px 5px 5px 5px;
    margin-right: 10px;
    padding-bottom: 0;
    box-shadow: #000000;
    font-weight: bold;
    background-color: white;
    color:black;
}

.message{
    box-shadow: 0 1px 6px gray, 0 1px 4px gray;
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    display: inline-block;
    position: relative;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top:4px;
    text-align: justify;
    margin-left:8px;
    margin-right:10px;
    min-height: 20px;
    clear:both;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    max-width: 60%;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top:5px;
    vertical-align:center;
    
}

.msgbox{
    background-image: url('https://cutewallpaper.org/21/whatsapp-background-wallpapers/Whatsapp-background-wallpaper-android-3-A-Background-Download.jpg');
    word-wrap: break-word;
    
    box-sizing: border-box;
    inset: 10px;
    border-style: inset;
    border: 1px solid gray;
    outline-offset: 5px;
    border-radius:10px;
    line-height: 50px;
    overflow-y: scroll;
    height: 80%;
    margin-bottom: 10px;
    margin-top:10px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left:15px;

}
.msgbox::before{
    box-shadow: 0px 0px 10px rgba(0, 0. 0, 0);
    z-index:3;
    content: "";
    height: 50px;
    position: fixed;
}
body {
    
    user-select: none;
    overflow-y: hidden;
    height: 100vh;
}
.msgbox::-webkit-scrollbar {
    display: none;
}

#msg:hover{
    border:solid 1px gray;
}

#msg{
    margin-left: 5px;
    width: calc(95% - 60px);
    border-radius: 30px;
    height: 60px;
    border: 1px gray solid;
}
#msg:hover{
    border: gray solid 2px;

}
#send{
    background-color: blanchedalmond;
    width: 60px;
    margin-left: 7px;
    height: 60px;
    float: right;
    opacity: 1;
    border-radius: 30px;
    border: 1px gray solid;
}
#send:hover{
    filter: invert(1.0);
    background-color: orange;

}
.footer{
    float: bottom;
    position: relative;
    width:100%;
    z-index: 2;
    margin-left: calc(2.5% - 5px);


}
#msgbox:click{
    border:none;
}
#msgbox:active{
    border:none;

}