@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carme&family=Electrolize&family=Freckle+Face&family=Roboto:wght@300&family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Electrolize&family=Freckle+Face&family=Roboto:wght@300&family=Rum+Raisin&display=swap');
.header{
    top: 0px;
    background-color:white;
    font-size: 100%;
    height: 30px;
    font-family: 'Freckle Face', cursive;
    text-align: center;
}
#msg{
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    background-color: azure;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    align-self: center;
    position: fixed;
    bottom: 0;
    left: 0px;
    max-height: 20px;
    width:80%;
    border-color: darkblue;
    height: 5%;
}
#enter{
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    background-color: azure;
    border-radius: 5px;
    align-items: center;
    align-self: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 15%;
    background-color: beige;
    text-emphasis-color: blue;
    height: 10%;
    
}
#chatbox{
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-x: auto;
    margin-top: 30px;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px ;
    text-align: right;
    clear: both;
    display: inline-block;
    align-self: left;
    align-content: left;
    font-family: 'Rum Raisin', sans-serif;


}
.darker {
    border-color: #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px ;
    text-align: left;
    clear: both;
    align-self: right;
    display: inline-block;
    font-family: 'Rum Raisin', sans-serif;

    align-content: right;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
