@import url('https://fonts.googleapis.com/css2?family=Carme&family=Electrolize&family=Freckle+Face&family=Roboto:wght@300&family=Rum+Raisin&display=swap');
.header{
    font-family: 'Freckle Face', cursive;
    font-size: 50%;
    text-align: center;

}
.jumbotron{
    height: 10%;
}