<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        {%load static%}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="{% static '/chatpage.js' %}"></script>
    <link rel="stylesheet" href="{% static '/chatpage.css' %}">

    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="row header">
            <img class ="header-img" src = '{% static "/bot.png"%}'>
            <div class="text-left">
                <h3>Chatty</h3>
            </div>
        </div>
    <div class="msgbox">
        
        
        <div class="message recieved">
            Hello there! <br>How can I help you?
        </div>
        
        <div class="message sent">
            Hi<br>What can you do?
        </div>
        <br>
        <div class="message recieved">
            I can do so many things.<br>Try and ask me something.
        </div> <div class="message sent">
            Ok, <br>Tell me about corona.
        </div>
        <br>
        <div class="message recieved">
            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.<br>
            Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
            <br>For more information visit <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">here</a>

        </div>
        
        <!-- <div class="message sent">
            bfd
        </div>
        <br>
        <div class="message recieved">
            lllllllllllllllllllllllllllllllllllllllllll
        </div> <div class="message sent">
            bdknwfewfnwuuuuuuuuuuuuuuewwfrj
        </div>
        <br>
        <div class="message recieved">
            bdknsdewfewfeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeewfrj
        </div> -->
        

        
    </div>
    {% csrf_token %}
        <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>

    <div class="row-lg footer">
        
            <form class="form-inline"  id="msgform" >
                {% csrf_token %}
                <input type ="text" id="msg" class="form-control-lg" name="msg" placeholder="Message">
                <input type ="image" id="send" class="form-control-lg" name="send" src="{% static '/send.svg' %}">
            </form>
    </div>
</div>
</body>
</html>